html, body {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
body {
	min-width: 320px;
	overflow-x: auto;
}
* {
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.name {
	text-decoration: underline;
	text-decoration-color: #479ECC;
}
.col1 {
	color: #479ECC;
}
.col2 {
	color: #952E76;
}
.col3 {
	color: #F78517;
}
.col4 {
	color: #1CAA5D;
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	background: #111;
	z-index: 100;
}
#loader h1 {
	color: #FFF;
}
#loader div {
	width: 100%;
}
content {
	display: block;
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	background: #333;
}
.top {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background: url(/img/connectwork.png);
}
.onehundred {
	width: 100%;
	position: relative;
	z-index: 3;
}
.tagline h1 {
	color: #FFF;
}
img.me {
	border: 3px solid #0D0D0D;
	border-radius: 100%;
	width: 100%;
	max-width: 250px;
	margin-top: 25px;
}
@media only screen and (min-width: 601px) {
	.container {
		width: 100%;
	}
}
@media only screen and (min-width: 601px) {
	.container {
		width: 85%;
	}
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.page {
	width: 100%;
	min-height: calc(100% - 50px);
	padding-top: 25px;
	padding-bottom: 25px;
}
.unique {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 4;
	background: url(/img/prism.png);
}
.fax {
	position: relative;
	display: flex;
	align-items: center;
	background: rgb(28, 170, 93);
	background: linear-gradient(45deg, rgba(28,170,93,1) 0%, rgba(149,46,118,1) 100%);
	min-height: auto;
}
.deez {
	position: relative;
	display: inline-block;
	width: fit-content;
}
.deez::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 0;
	height: 5px;
	width: 0;
	background: #479ECC;
	transition: width 1.5s;
}
.deez.seen::after {
	width: 100%;
}
.box1, .box2 {
	position: absolute;
	width: 0;
	height: 0;
	max-width: 500px;
	max-height: 500px;
	background: #111;
	z-index: 1;
	transition: width 1s, height 1s;
}
.box1 {
	bottom: 40%;
	right: 40%;
}
.box2 {
	top: 40%;
	left: 40%;
}
.box1.seen, .box2.seen {
	width: 80%;
	height: 80%;
}
.big-title {
	font-size: 55px;
	font-weight: normal;
	color: #FFF;
}
.sub-title {
	font-size: 25px;
	position: relative;
	width: fit-content;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	color: #F78517;
}
.sub-title::before {
	content: "(higher number = more mainstream)";
	color: #000;
	position: absolute;
	display: block;
	top: 5px;
	left: 0;
	z-index: -1;
}
.fadein {
	opacity: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	transition: all 1.5s;
}
.fadein.seen {
	opacity: 1;
	margin-top: 25px;
	margin-bottom: 25px;
	transition: all 1.5s;
}
.rank-box {
	display: inline-flex;
	align-items: center;
	height: 300px;
	width: calc(100% - 40px);
	min-width: 260px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 25px;
	border: none;
	border-radius: 25px;
	padding: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 34px;
}
.rank-box div {
	width: 100%;
	font-size: 25px;
}
.rank-box h1 {
	margin-bottom: 0;
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
	padding: 25px;
}
#recentRank h1 {
	border: 5px solid #952E76;
}
#allTimeRank h1 {
	border: 5px solid #1CAA5D;
}
@media only screen and (min-width: 921px) {
	.rank-box {
		width: calc(50% - 44px);
	}
}
@media only screen and (max-width: 480px) {
	.rank-box h1 {
		font-size: 35px;
	}
	.big-title {
		font-size: 35px;
	}
	.sub-title {
		font-size: 18px;
	}
	.rank-box div {
		font-size: 18px;
	}
}
.deez-unique {
	position: relative;
	display: inline-block;
}
.deez-unique::after {
	content: "Deez Score";
	color: #000;
	position: absolute;
	display: block;
	top: 5px;
	left: 0;
	z-index: -1;
}
.fax-box {
	background: #111;
	width: fit-content;
	max-width: 100%;
	margin-top: 25px;
	transition: all 0.5s;
	opacity: 0;
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}
.fax-box.seen {
	opacity: 1;
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.fax-box h1 {
	width: fit-content;
	padding: 25px;
	color: #FFF;
}
.fax-box img {
	width: 40px;
	display: inline-block;
	vertical-align: middle;
}
.fax-box.mal img {
	margin-left: 25px;
}
.fax-box.mar img {
	margin-right: 25px;
}
@media only screen and (max-width: 600px) {
	.fax-box h1 {
		font-size: 20px;
	}
	.fax-box img {
		width: 20px;
	}
	.fax-box.mal img {
		margin-left: 5px;
	}
	.fax-box.mar img {
		margin-right: 5px;
	}
}
.mal {
	margin-left: auto;
}
.mar {
	margin-right: auto;
}
.top-artists {
	width: calc(100% - 50px);
	background: rgb(71,158,204);
	background: linear-gradient(135deg, rgba(71,158,204,1) 0%, rgba(247,133,23,1) 100%);
	padding-left: 25px;
	padding-right: 25px;
	min-height: auto;
}
.top-artists .container h1 {
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 55px;
}
@media only screen and (max-width: 600px) {
	.top-artists .container h1 {
		font-size: 35px;
	}
}
.top-artists .container > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 25px;
	width: 100%;
}
.artist img {
	width: 80%;
	position: relative;
	z-index: 2;
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	transition: transform 1s;
}
.artist div {
	width: calc(100% - 30px);
	background: url(/img/connectwork.png);
	color: #FFF;
	padding: 15px;
	position: relative;
	font-size: 22px;
	top: -32px;
	transition: top 0.5s;
	z-index: 1;
}
.artist:hover div {
	top: 0px;
}
.artist.seen img {
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}
.colw {
	color: #FFF;
}
.top-songs {
	background: url(/img/gplay.png);
	display: flex;
	align-items: center;
}
.top-songs .container > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 25px;
	width: 100%;
}
.song img {
	width: 80%;
	position: relative;
	transition: all 1s;
}
.song > div {
	width: calc(100% - 30px);
	background: #FFF;
	font-size: 20px;
	padding: 15px;
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transition: all 1s;
}
.song.seen > div {
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.song.seen:hover img {
	filter: grayscale(1);
}
.been-liking.deez::after {
	background: #1CAA5D;
}
.top-songs h1 {
	margin-bottom: 50px;
}
.share {
	min-height: auto;
	background: rgb(247, 133, 23);
	background: linear-gradient(90deg, rgba(247,133,23,1) 0%, rgba(71,158,204,1) 33%, rgba(28,170,93,1) 67%, rgba(149,46,118,1) 100%);
}
.share h1 {
	padding: 15px;
	background: #111;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: fit-content;
	color: #FFF;
	max-width: calc(100% - 30px);
}
.share a {
	text-decoration: none;
	background: #111;
	border-radius: 50%;
	padding: 24px;
	width: 48px;
	height: 48px;
	display: inline-block;
	transition: background 0.25s;
}
.share a:hover {
	background: #333;
}
.share a img {
	width: 48px;
	margin-bottom: 25px;
}